<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="andino">

  <xacro:include filename="$(find andino_description)/urdf/andino.urdf.xacro"/>

  <gazebo>
    <plugin
      filename="ignition-gazebo-diff-drive-system"
      name="ignition::gazebo::systems::DiffDrive"> 
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.137</wheel_separation>
      <wheel_radius>0.0175</wheel_radius>
      <odom_publish_frequency>1</odom_publish_frequency>
      <topic>/cmd_vel</topic>
    </plugin>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor name="camera" type="camera">
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
        </distortion>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>image_raw</topic>
      <camera_info_topic>camera_info</camera_info_topic>
    </sensor>
  </gazebo>

  <!-- <xacro:include filename="$(find andino_gz)/urdf/include/andino_materials.xacro"/> -->

</robot>
