apt-utils
bash-completion
build-essential
curl
debian-archive-keyring
debian-keyring
evtest
gdb
git
gnupg2
gpg-agent
joystick
jstest-gtk
locales
lsb-release
mercurial
nano
openssh-server
python3
python3-pip
python3-setuptools
ros-humble-andino-description
ros-humble-andino-slam
ros-humble-nav2-bringup
ros-humble-nav2-common
software-properties-common
sudo
tmux
wget
xterm
